
body, h1, h2, h3 , h4, h5, h6{
	padding: 0;
	margin: 0;
	font-family: Roboto;
}

.container	{
	max-width: 956px;
	height: inherit;
	padding: 0;
}

@media (max-width: 768px) {
	.container {
		width: 320px;
	}
}

.header {
	height: 72px;
	box-shadow: 0px 0px 16px rgba(38, 38, 38, 0.16);
}

.headflex {
	width: 100%;
	height: inherit;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.navflex {
	display: flex;
	align-items: center;
}

.nfimg {
	margin-left: 20px;
}

.lgbtn {
	text-decoration: none;
	color: black;
	font-size: 13px;
	font-weight: 500;
	border: 1px solid #E0E0E0;
	padding: 14px 20px;
	border-radius: 5px;
	transition: all ease .25s;
}

.lgbtn:hover {
	background-color: #d1d1d1;
}

form {
	margin-top: 40px;
	width: 100%;
}

.search {
	width: inherit;
	border: none;
	outline: none;
	background: transparent;
	border-bottom-style: solid;
	border-bottom-width: 1px;
	border-bottom-color: lightgrey;
}

.cards {
	padding: 16px 0 42px 0;
	grid-row-gap: 10px;
}

.content {
	margin-top: 40px;
}

.card {
	margin-bottom: 16px;
	transition: all .2s ease;
	display: inline-block;
    overflow: hidden;
    border-radius: 10px ;
}

.card:hover {
	background-color: lightgray;
}

.card img {
	height: 256px;
	width: 100%;
	margin-bottom: 16px;
	transition: 1s; 
    display: block;

}
.card img:hover {
    transform: scale(1.1);
    border-radius: 7px;
   }

.content h1 {
	font-size: 22px;
	font-weight: 400;
	margin-bottom: 4px;
	line-height: 24px;
}

.card h2 {
	font-size: 16px;
	font-weight: 400;
}

.card a {
	margin-bottom: 4px;
	line-height: 24px;
	text-decoration: none;
	color: #1d1d1d;
}

.card h3 {
	font-size: 14px;
	font-weight: 400;
	margin-bottom: 4px;
	line-height: 24px;
	color:#626262;
}

.card h4 {
	font-size: 13px;
	font-weight: 400;
	margin-bottom: 4px;
	line-height: 24px;
}

hr {
	margin: 0;
	opacity: .4;
}

.footer {
	background-color: #262626;
}

.column {
	padding: ;
}

.footer_content {
	padding: 32px 0;
}

.language {
	display: flex;
	width: 75%;
	background-color: #3b3b3b;
	font-size: 16px;
	color:  white;
	border-radius: 5px;
}

.ftlg {
	padding: 52px 0;

}

.globe {
	margin: 0 16px;
}

.arw {
	margin: 0 8px 0 auto;
}

.column {
	display: flex;
	flex-direction: column;
}

.column p {
	display: inline;
}

#ubertxt {
	font-size: 16px;
	margin: 20px 0;
}

.column a {
	font-size: 13px;
	color: white;
	text-decoration: none;
	margin: 11.5px 0;
}

.ftimg {
	margin: 0 4px;
}

.ftstores {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 128px;
}

.stores a {
	margin: 0 15px;
}

@media (max-width: 768) {
	.ftstores {
		hight: 84px;
	}
	.stores a {
		margin: 0 7px;
	}
}

.ftrights {
	padding: 28px 0px;
}

.ftrights a {
	text-decoration: none;
	color: white;
	font-size: 13px;
}

.ftrights>div {
	padding: 12px 0;
}

.to_top {
	background-color: pink;
	position: fixed;
	height: 60px ;
	width: 60px ;
	bottom: 45px ;
	right: 45px;
	display: flex;
	align-items: center;
	justify-content: center;
	border-radius: 40px;
	box-shadow: 0 0 50px;
	color: black;
}